* {
    box-sizing: border-box;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
/*-- baseline-stlyes --*/

body {
    background: linear-gradient( #7b76af, #dfac8f);
    width: 100%;
    font-family: 'proxima nova',
    'montserrat',
    sans-serif;
    color: whitesmoke;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1.bannerHeader {
    font: 45px;
    font-weight: 600;
    text-shadow: 2px 2px 3px black;
}

h2.subheader {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 1px 1px 1px #0000007d;
}

p   {
    font-size: 14px;
}

.page-title {
    font-weight: 800;
    text-align: center;
    padding-top: 1em;
}

.text-link {
    color:#c84687;
    font-weight: 600;
}

.text-link:hover {
    background-color: #d43c7d;
    color: whitesmoke;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 4px 5px 10px 0px #00000045;
}

.img-shadow {
    box-shadow: 4px 5px 10px 0px #00000045;
}

/*-- /baseline-styles --*/

/*-- class-styles --*/

.main-body {
    margin-top: 2em;
    margin-bottom: 3em;
    z-index: 2;
}
.banner-home {
    background-image: url("../img/lsdark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 4em;
    margin-bottom: 1em;
    box-shadow: 0px 7px 12px 2px #0000004a;
}

.banner-lineup {
    background-image: url("../img/zlp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 4em;
    margin-bottom: 1em;
    box-shadow: 0px 7px 12px 2px #0000004a;
}

.banner-photos {
    background-image: url("../img/kid-run.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 4em;
    margin-bottom: 1em;
    box-shadow: 0px 7px 12px 2px #0000004a;
}

.banner-about {
    background-image: url("../img/winston-family.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 4em;
    margin-bottom: 1em;
    box-shadow: 0px 7px 12px 2px #0000004a;
}

.social-icon {
    border-radius: 10px;
}


.brand {
    display: block;
    text-decoration: none;
    position: absolute;
    top: 15px;
    right: 32px;
}

.brand:hover {
    background-color: #d43c7d;
    border-radius: 10px;
    text-decoration: none;
}

.aboutP {
    padding-top: 30px;
}
/*-- /class-styles --*/


/*-- button-styles --*/

#tickets {
    text-align: center;
}

.tickets-btn {
    display: inline-block;
    font-size: 32px;
    background-color: #f46b4f;
    border-color: #f46b4f;
    color:  white;
    border: 1px solid transparent;
    padding: 15px 32px;
    border-radius: 10px;
    font-weight: 700;
}




li a:hover {
    background-color: #d43c7d;
    color: whitesmoke;
    border-radius: 10px;
    text-decoration: none;
}


.tickets-btn:hover {
    background-color: hsla(27, 99%, 60%, 0.946);
    text-decoration: none;
    cursor: pointer;
}


/* About page button */
.btn:focus  {
    outline: 0;
    box-shadow: 0 0 0 0;;
}

.about-btn  {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
    border-color: none;
    border: transparent;
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-weight: 700;
}

.about-btn:hover  {
    font: (205, 163, 149);
    border-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

button.about-btn:selection   {
    font: rgba(245, 245, 245, 0.61);
    border-color: transparent;
}
 /*-- /button-styles --*/

/*-- Navbar --*/
#naviBar {
    margin: auto;
    padding-top: 8px;
    padding-bottom: 25px;
    overflow: hidden;
    background-color: #7d5425;
    position: -webkit-sticky;
    position: sticky;
}

.hold {
    top: 0;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    overflow: hidden;
    background-color: #7d5425;
    z-index: 1;
}

button.burger {
    display: block;
    font-size: 24px;
    background-color: #7d5425;
    border: none;
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 5%;
}

ul {
    list-style-type: none;
}

ul.items,
li {
    display: none;
    flex-direction: column;
    font-size: 20px;
    font-weight: 450;
    text-decoration: none;
    background-color: inherit;
}

li a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #d43c7d;
    color: whitesmoke;
    border-radius: 10px;
    text-decoration: none;
}

li a:selection {
    background-color: #d43c7d;
    color: whitesmoke;
    border-radius: 10px;
}

i {
    font-size: 24px;
}
/*-- /Navbar --*/

/*-- e-newsletter-signup --*/
.newsletter-wrap {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

#mc_embed_signup {
    background: #7d5425;
    clear: left;
    width: 100%;
}

#mc_embed_signup .button {
    background-color: #c84687;
    border-color: #c84687;
    border-radius: 7px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#mc_embed_signup .button:hover  {
    background-color: #d473a4;
}
/*-- /e-newsletter sign-up --*/

/*-- Photos.html-styles --*/
#carousel {
    margin-top: 50px;
    margin-bottom: 150px;
}
/*-- /Photos.html styles --*/

/*-- lineup page --*/
.lineupImg {
    height: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*-- /lineup-page --*/

/* --About-- */
.bg-img {
    background-color: rgba(171, 62, 158, 0.18);
    padding-bottom: 2em;
}

.map {
    padding-top: 30px;
}

.section-title {
    font-weight: 600;
}

ul.qAnda {
    display: block;
    flex-direction: column;
    background-color: none;
    justify-content: left;
}
/* --/About-- */

/*-- footer --*/
footer {
    background-color: #7d5425;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 0;
    padding: 1em;
}

footer.wrap,
ul,
li  {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 0;
    padding: 1em;
}
/*-- /footer --*/

/*-- Reponsiveness --*/
@media all and (min-width: 768px) {
   h1.bannerHeader {
       font-size: 60px;
   }

   h2.subheader {
        font-size: 32px;
    }

    ul.items,
    li {
        display: flex;
        flex-direction: row;
        font-weight: 450;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    
    #naviBar {
        margin: auto;
        padding-top: 10px;
        padding-bottom: 0px;
        overflow: hidden;
        background-color: #7d5425;
        position: -webkit-sticky;
        position: sticky;
    }
 
    #mc_embed_signup {
        font: 1.5em;
    }

    button.burger {
        display: none;
    }

    .banner-about,
    .banner-home,
    .banner-lineup,
    .banner-photos {
        padding: 150px;
    }

    footer.wrap,
    ul,
    li {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    label {
        display: inline-block;
    }
}    

    @media (min-width: 1024px) {
        h1.bannerHeader {
            font-size: 65px;
        }
}
/*-- /response --*/